
# Dependencies
node_modules


# Testing
/coverage

# Misc
.DS_Store
.eslintcache
/unicorns

# Editors
.idea
*.iml
.vscode
*.icloud

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist

.env.*
.env
/client/build

.vercel
/build
cert